@media only screen and (max-width: 600px) {
    body {
      width: 100%;
      margin: 0px;
    }
    header{
        flex-direction: column;
        background-color: rgb(10, 10, 10);
        width: 400px;
        height:100vh;
        position: relative;
        color: whitesmoke;
        display: none;
        align-items: center;
        margin-top:80px;
       position: fixed;
    }
    header a{
        font-size: 22px;
    }
    #spcon{
        display: none;
    }
    #header.onshow{
        display: block;
    }
         
       .menu{
        flex-direction: column;
        
       }
       .menu a{
        color: white;
       }
    
    
    .menu1{
        flex-direction: column;
    }
    .menu2{
        flex-direction: column;
        position: absolute;
        bottom: 100px;
    }
    .menu2 i{
        padding: 10px 10px;
    }
    #thongbao{
        display: none;
    }
    #max .max-menu-desktop {
        display: none;
    }
    #max{
        display: block !important;
        display: flex !important ;
        background-color: #f4f4f4;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 5px;
        z-index: 3;
        width: 100%;
        justify-content: space-around;
        box-shadow: 0px 0px 25px whitesmoke;
    }
    #messcon{
        display: none;
    }
    #gioithieu{
        padding: 10px 0px;
    }
    
   #chuong{
    margin-left: 440px;
    font-size: 30px;
    margin-top: 23px;
   }
    #gach{
        display: block;
        margin-top: 23px;
        margin-left: 25px;
        font-size: 30px;
    }
    #gach:hover header{
        display: block;
    }
    .him{
        display: block;
        padding: 10px 0px;
    }
    .menu2 a{
        padding: 10px 0px;
    }
    .giữa{
        display: none;
    }
    .vocher{
        display: none;
    }
    .thanbai{
        display: inline-block;
        flex-direction: column;
        margin: 20px;
    }
    .sanpham{
        width: 100%;
    }

    #content  {
        width: 100%;
        overflow: hidden;
    }
    #footer{
        height: 300px;
    }
    .kết{
        flex-direction: column;
        margin-left: 30px;
    }
 #swiper-slide{
    width: 100%;
 }
 .pass{
    margin: 0 10px !important;
 }
 hr{
    margin: 0px 20px !important;
 }
 .swiper{
    margin-top: 75px;
 }
 .box{
    margin-top: 80px !important; 
 }
}