body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  background-color: #333;

}
#form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;

}
#form-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-side{
    margin: 20px;
}
#form-wrapper form input{
    border: 0px;
    border-bottom:  1px solid #ccc;
    font-size: 12px;
    padding: 5px;
    outline: 0;
}
#form-wrapper form input :focus{
    border-color: #222;
}
#form-wrapper .nút{
    margin-top: 15px;
    background-color: #333;
    color: #fff;
}

@media (max-width: 700px) {
    #form-wrapper {
        flex-direction: column;
    }
}
